<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">
    <dubbo:application name="boss-oms-admin"/>
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!-- 订阅服务 -->
    <dubbo:consumer check="false"/>

    <!-- 用户 -->
    <dubbo:reference id="userService" interface="com.boss.oms.rpc.api.WxUserService" mock="true"/>

    <!--业务员-->
    <dubbo:reference id="bizUserInfoService" interface="com.boss.oms.rpc.api.TBizUserInfoService" mock="true"/></beans>