<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.oms.dao.mapper.TSalPolicyVOMapper">


	<!--获取保单列表-->
	<select id="selectTSalPolicyVOList" resultType="com.boss.oms.dao.model.TSalPolicyVO">
     SELECT * FROM t_sal_policy
    </select>


	<!-- 缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	
</mapper>