<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.oms.dao.mapper.TBaseAddressCodeOldMapper">
  <resultMap id="BaseResultMap" type="com.boss.oms.dao.model.TBaseAddressCodeOld">
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PARENT_CODE" jdbcType="VARCHAR" property="parentCode" />
    <result column="IS_MUNICIPALITY" jdbcType="VARCHAR" property="isMunicipality" />
    <result column="CITY_LEVEL" jdbcType="INTEGER" property="cityLevel" />
    <result column="LICENSE_NO_PREFIX" jdbcType="VARCHAR" property="licenseNoPrefix" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CODE, NAME, PARENT_CODE, IS_MUNICIPALITY, CITY_LEVEL, LICENSE_NO_PREFIX
  </sql>
  <select id="selectByExample" parameterType="com.boss.oms.dao.model.TBaseAddressCodeOldExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_base_address_code_old
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.boss.oms.dao.model.TBaseAddressCodeOldExample">
    delete from t_base_address_code_old
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.boss.oms.dao.model.TBaseAddressCodeOld">
    insert into t_base_address_code_old (CODE, NAME, PARENT_CODE, 
      IS_MUNICIPALITY, CITY_LEVEL, LICENSE_NO_PREFIX
      )
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, 
      #{isMunicipality,jdbcType=VARCHAR}, #{cityLevel,jdbcType=INTEGER}, #{licenseNoPrefix,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.boss.oms.dao.model.TBaseAddressCodeOld">
    insert into t_base_address_code_old
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        CODE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="parentCode != null">
        PARENT_CODE,
      </if>
      <if test="isMunicipality != null">
        IS_MUNICIPALITY,
      </if>
      <if test="cityLevel != null">
        CITY_LEVEL,
      </if>
      <if test="licenseNoPrefix != null">
        LICENSE_NO_PREFIX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="isMunicipality != null">
        #{isMunicipality,jdbcType=VARCHAR},
      </if>
      <if test="cityLevel != null">
        #{cityLevel,jdbcType=INTEGER},
      </if>
      <if test="licenseNoPrefix != null">
        #{licenseNoPrefix,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.boss.oms.dao.model.TBaseAddressCodeOldExample" resultType="java.lang.Long">
    select count(*) from t_base_address_code_old
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_base_address_code_old
    <set>
      <if test="record.code != null">
        CODE = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.parentCode != null">
        PARENT_CODE = #{record.parentCode,jdbcType=VARCHAR},
      </if>
      <if test="record.isMunicipality != null">
        IS_MUNICIPALITY = #{record.isMunicipality,jdbcType=VARCHAR},
      </if>
      <if test="record.cityLevel != null">
        CITY_LEVEL = #{record.cityLevel,jdbcType=INTEGER},
      </if>
      <if test="record.licenseNoPrefix != null">
        LICENSE_NO_PREFIX = #{record.licenseNoPrefix,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_base_address_code_old
    set CODE = #{record.code,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      PARENT_CODE = #{record.parentCode,jdbcType=VARCHAR},
      IS_MUNICIPALITY = #{record.isMunicipality,jdbcType=VARCHAR},
      CITY_LEVEL = #{record.cityLevel,jdbcType=INTEGER},
      LICENSE_NO_PREFIX = #{record.licenseNoPrefix,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>