<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.oms.dao.mapper.TBizSalesmanShareRecordMapper">
  <resultMap id="BaseResultMap" type="com.boss.oms.dao.model.TBizSalesmanShareRecord">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="SALESMAN_ID" jdbcType="BIGINT" property="salesmanId" />
    <result column="SALESMAN_OPEN_ID" jdbcType="VARCHAR" property="salesmanOpenId" />
    <result column="CUSTOMER_OPEN_ID" jdbcType="VARCHAR" property="customerOpenId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, SALESMAN_ID, SALESMAN_OPEN_ID, CUSTOMER_OPEN_ID, TYPE, STATUS, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.boss.oms.dao.model.TBizSalesmanShareRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_biz_salesman_share_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_biz_salesman_share_record
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_biz_salesman_share_record
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.boss.oms.dao.model.TBizSalesmanShareRecordExample">
    delete from t_biz_salesman_share_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.boss.oms.dao.model.TBizSalesmanShareRecord">
    insert into t_biz_salesman_share_record (ID, SALESMAN_ID, SALESMAN_OPEN_ID, 
      CUSTOMER_OPEN_ID, TYPE, STATUS, 
      CREATE_TIME, UPDATE_TIME)
    values (#{id,jdbcType=BIGINT}, #{salesmanId,jdbcType=BIGINT}, #{salesmanOpenId,jdbcType=VARCHAR}, 
      #{customerOpenId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.boss.oms.dao.model.TBizSalesmanShareRecord">
    insert into t_biz_salesman_share_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="salesmanId != null">
        SALESMAN_ID,
      </if>
      <if test="salesmanOpenId != null">
        SALESMAN_OPEN_ID,
      </if>
      <if test="customerOpenId != null">
        CUSTOMER_OPEN_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="salesmanId != null">
        #{salesmanId,jdbcType=BIGINT},
      </if>
      <if test="salesmanOpenId != null">
        #{salesmanOpenId,jdbcType=VARCHAR},
      </if>
      <if test="customerOpenId != null">
        #{customerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.boss.oms.dao.model.TBizSalesmanShareRecordExample" resultType="java.lang.Long">
    select count(*) from t_biz_salesman_share_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_biz_salesman_share_record
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.salesmanId != null">
        SALESMAN_ID = #{record.salesmanId,jdbcType=BIGINT},
      </if>
      <if test="record.salesmanOpenId != null">
        SALESMAN_OPEN_ID = #{record.salesmanOpenId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerOpenId != null">
        CUSTOMER_OPEN_ID = #{record.customerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_biz_salesman_share_record
    set ID = #{record.id,jdbcType=BIGINT},
      SALESMAN_ID = #{record.salesmanId,jdbcType=BIGINT},
      SALESMAN_OPEN_ID = #{record.salesmanOpenId,jdbcType=VARCHAR},
      CUSTOMER_OPEN_ID = #{record.customerOpenId,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.boss.oms.dao.model.TBizSalesmanShareRecord">
    update t_biz_salesman_share_record
    <set>
      <if test="salesmanId != null">
        SALESMAN_ID = #{salesmanId,jdbcType=BIGINT},
      </if>
      <if test="salesmanOpenId != null">
        SALESMAN_OPEN_ID = #{salesmanOpenId,jdbcType=VARCHAR},
      </if>
      <if test="customerOpenId != null">
        CUSTOMER_OPEN_ID = #{customerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boss.oms.dao.model.TBizSalesmanShareRecord">
    update t_biz_salesman_share_record
    set SALESMAN_ID = #{salesmanId,jdbcType=BIGINT},
      SALESMAN_OPEN_ID = #{salesmanOpenId,jdbcType=VARCHAR},
      CUSTOMER_OPEN_ID = #{customerOpenId,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>