<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.oms.dao.mapper.TOcrDriverLicenseRecordMapper">
  <resultMap id="BaseResultMap" type="com.boss.oms.dao.model.TOcrDriverLicenseRecord">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="TRANS_NO" jdbcType="VARCHAR" property="transNo" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ID_NO" jdbcType="VARCHAR" property="idNo" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="NATIONALITY" jdbcType="VARCHAR" property="nationality" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="DATE_OF_BIRTH" jdbcType="VARCHAR" property="dateOfBirth" />
    <result column="DATE_OF_FIRST_ISSUE" jdbcType="VARCHAR" property="dateOfFirstIssue" />
    <result column="CLAZZ" jdbcType="VARCHAR" property="clazz" />
    <result column="VALID_PERIOD" jdbcType="VARCHAR" property="validPeriod" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, TRANS_NO, NAME, ID_NO, SEX, NATIONALITY, ADDRESS, DATE_OF_BIRTH, DATE_OF_FIRST_ISSUE, 
    CLAZZ, VALID_PERIOD, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
  </sql>
  <select id="selectByExample" parameterType="com.boss.oms.dao.model.TOcrDriverLicenseRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_ocr_driver_license_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ocr_driver_license_record
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_ocr_driver_license_record
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.boss.oms.dao.model.TOcrDriverLicenseRecordExample">
    delete from t_ocr_driver_license_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.boss.oms.dao.model.TOcrDriverLicenseRecord">
    insert into t_ocr_driver_license_record (ID, TRANS_NO, NAME, 
      ID_NO, SEX, NATIONALITY, 
      ADDRESS, DATE_OF_BIRTH, DATE_OF_FIRST_ISSUE, 
      CLAZZ, VALID_PERIOD, CREATE_TIME, 
      CREATE_BY, UPDATE_TIME, UPDATE_BY
      )
    values (#{id,jdbcType=BIGINT}, #{transNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{idNo,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{nationality,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{dateOfBirth,jdbcType=VARCHAR}, #{dateOfFirstIssue,jdbcType=VARCHAR}, 
      #{clazz,jdbcType=VARCHAR}, #{validPeriod,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.boss.oms.dao.model.TOcrDriverLicenseRecord">
    insert into t_ocr_driver_license_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="transNo != null">
        TRANS_NO,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="idNo != null">
        ID_NO,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="nationality != null">
        NATIONALITY,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="dateOfBirth != null">
        DATE_OF_BIRTH,
      </if>
      <if test="dateOfFirstIssue != null">
        DATE_OF_FIRST_ISSUE,
      </if>
      <if test="clazz != null">
        CLAZZ,
      </if>
      <if test="validPeriod != null">
        VALID_PERIOD,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="transNo != null">
        #{transNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null">
        #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="dateOfBirth != null">
        #{dateOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="dateOfFirstIssue != null">
        #{dateOfFirstIssue,jdbcType=VARCHAR},
      </if>
      <if test="clazz != null">
        #{clazz,jdbcType=VARCHAR},
      </if>
      <if test="validPeriod != null">
        #{validPeriod,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.boss.oms.dao.model.TOcrDriverLicenseRecordExample" resultType="java.lang.Long">
    select count(*) from t_ocr_driver_license_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_ocr_driver_license_record
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.transNo != null">
        TRANS_NO = #{record.transNo,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.idNo != null">
        ID_NO = #{record.idNo,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.nationality != null">
        NATIONALITY = #{record.nationality,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.dateOfBirth != null">
        DATE_OF_BIRTH = #{record.dateOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="record.dateOfFirstIssue != null">
        DATE_OF_FIRST_ISSUE = #{record.dateOfFirstIssue,jdbcType=VARCHAR},
      </if>
      <if test="record.clazz != null">
        CLAZZ = #{record.clazz,jdbcType=VARCHAR},
      </if>
      <if test="record.validPeriod != null">
        VALID_PERIOD = #{record.validPeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_ocr_driver_license_record
    set ID = #{record.id,jdbcType=BIGINT},
      TRANS_NO = #{record.transNo,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      ID_NO = #{record.idNo,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=VARCHAR},
      NATIONALITY = #{record.nationality,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      DATE_OF_BIRTH = #{record.dateOfBirth,jdbcType=VARCHAR},
      DATE_OF_FIRST_ISSUE = #{record.dateOfFirstIssue,jdbcType=VARCHAR},
      CLAZZ = #{record.clazz,jdbcType=VARCHAR},
      VALID_PERIOD = #{record.validPeriod,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.boss.oms.dao.model.TOcrDriverLicenseRecord">
    update t_ocr_driver_license_record
    <set>
      <if test="transNo != null">
        TRANS_NO = #{transNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null">
        ID_NO = #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        NATIONALITY = #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="dateOfBirth != null">
        DATE_OF_BIRTH = #{dateOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="dateOfFirstIssue != null">
        DATE_OF_FIRST_ISSUE = #{dateOfFirstIssue,jdbcType=VARCHAR},
      </if>
      <if test="clazz != null">
        CLAZZ = #{clazz,jdbcType=VARCHAR},
      </if>
      <if test="validPeriod != null">
        VALID_PERIOD = #{validPeriod,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boss.oms.dao.model.TOcrDriverLicenseRecord">
    update t_ocr_driver_license_record
    set TRANS_NO = #{transNo,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      ID_NO = #{idNo,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      NATIONALITY = #{nationality,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      DATE_OF_BIRTH = #{dateOfBirth,jdbcType=VARCHAR},
      DATE_OF_FIRST_ISSUE = #{dateOfFirstIssue,jdbcType=VARCHAR},
      CLAZZ = #{clazz,jdbcType=VARCHAR},
      VALID_PERIOD = #{validPeriod,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>