<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.oms.dao.mapper.TWxUserMapper">
  <resultMap id="BaseResultMap" type="com.boss.oms.dao.model.TWxUser">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="subscribe" jdbcType="INTEGER" property="subscribe" />
    <result column="OPEN_ID" jdbcType="VARCHAR" property="openId" />
    <result column="NICK_NAME" jdbcType="VARCHAR" property="nickName" />
    <result column="SEX" jdbcType="INTEGER" property="sex" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="HEAD_IMG_URL" jdbcType="VARCHAR" property="headImgUrl" />
    <result column="HEAD_IMG_URL_WIDTH" jdbcType="INTEGER" property="headImgUrlWidth" />
    <result column="HEAD_IMG_URL_HEIGHT" jdbcType="INTEGER" property="headImgUrlHeight" />
    <result column="PRIVILEGE" jdbcType="VARCHAR" property="privilege" />
    <result column="UNIONID" jdbcType="VARCHAR" property="unionid" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="groupid" jdbcType="INTEGER" property="groupid" />
    <result column="account_originid" jdbcType="VARCHAR" property="accountOriginid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, subscribe, OPEN_ID, NICK_NAME, SEX, PROVINCE, CITY, COUNTRY, HEAD_IMG_URL, HEAD_IMG_URL_WIDTH, 
    HEAD_IMG_URL_HEIGHT, PRIVILEGE, UNIONID, CREATE_DATE, UPDATE_DATE, groupid, account_originid
  </sql>
  <select id="selectByExample" parameterType="com.boss.oms.dao.model.TWxUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_wx_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_wx_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_wx_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.boss.oms.dao.model.TWxUserExample">
    delete from t_wx_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.boss.oms.dao.model.TWxUser">
    insert into t_wx_user (ID, subscribe, OPEN_ID, 
      NICK_NAME, SEX, PROVINCE, 
      CITY, COUNTRY, HEAD_IMG_URL, 
      HEAD_IMG_URL_WIDTH, HEAD_IMG_URL_HEIGHT, PRIVILEGE, 
      UNIONID, CREATE_DATE, UPDATE_DATE, 
      groupid, account_originid)
    values (#{id,jdbcType=INTEGER}, #{subscribe,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{headImgUrl,jdbcType=VARCHAR}, 
      #{headImgUrlWidth,jdbcType=INTEGER}, #{headImgUrlHeight,jdbcType=INTEGER}, #{privilege,jdbcType=VARCHAR}, 
      #{unionid,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{groupid,jdbcType=INTEGER}, #{accountOriginid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.boss.oms.dao.model.TWxUser">
    insert into t_wx_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="subscribe != null">
        subscribe,
      </if>
      <if test="openId != null">
        OPEN_ID,
      </if>
      <if test="nickName != null">
        NICK_NAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="province != null">
        PROVINCE,
      </if>
      <if test="city != null">
        CITY,
      </if>
      <if test="country != null">
        COUNTRY,
      </if>
      <if test="headImgUrl != null">
        HEAD_IMG_URL,
      </if>
      <if test="headImgUrlWidth != null">
        HEAD_IMG_URL_WIDTH,
      </if>
      <if test="headImgUrlHeight != null">
        HEAD_IMG_URL_HEIGHT,
      </if>
      <if test="privilege != null">
        PRIVILEGE,
      </if>
      <if test="unionid != null">
        UNIONID,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="groupid != null">
        groupid,
      </if>
      <if test="accountOriginid != null">
        account_originid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subscribe != null">
        #{subscribe,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null">
        #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrlWidth != null">
        #{headImgUrlWidth,jdbcType=INTEGER},
      </if>
      <if test="headImgUrlHeight != null">
        #{headImgUrlHeight,jdbcType=INTEGER},
      </if>
      <if test="privilege != null">
        #{privilege,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="accountOriginid != null">
        #{accountOriginid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.boss.oms.dao.model.TWxUserExample" resultType="java.lang.Long">
    select count(*) from t_wx_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_wx_user
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.subscribe != null">
        subscribe = #{record.subscribe,jdbcType=INTEGER},
      </if>
      <if test="record.openId != null">
        OPEN_ID = #{record.openId,jdbcType=VARCHAR},
      </if>
      <if test="record.nickName != null">
        NICK_NAME = #{record.nickName,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        SEX = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.province != null">
        PROVINCE = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        CITY = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null">
        COUNTRY = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.headImgUrl != null">
        HEAD_IMG_URL = #{record.headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.headImgUrlWidth != null">
        HEAD_IMG_URL_WIDTH = #{record.headImgUrlWidth,jdbcType=INTEGER},
      </if>
      <if test="record.headImgUrlHeight != null">
        HEAD_IMG_URL_HEIGHT = #{record.headImgUrlHeight,jdbcType=INTEGER},
      </if>
      <if test="record.privilege != null">
        PRIVILEGE = #{record.privilege,jdbcType=VARCHAR},
      </if>
      <if test="record.unionid != null">
        UNIONID = #{record.unionid,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.groupid != null">
        groupid = #{record.groupid,jdbcType=INTEGER},
      </if>
      <if test="record.accountOriginid != null">
        account_originid = #{record.accountOriginid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_wx_user
    set ID = #{record.id,jdbcType=INTEGER},
      subscribe = #{record.subscribe,jdbcType=INTEGER},
      OPEN_ID = #{record.openId,jdbcType=VARCHAR},
      NICK_NAME = #{record.nickName,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=INTEGER},
      PROVINCE = #{record.province,jdbcType=VARCHAR},
      CITY = #{record.city,jdbcType=VARCHAR},
      COUNTRY = #{record.country,jdbcType=VARCHAR},
      HEAD_IMG_URL = #{record.headImgUrl,jdbcType=VARCHAR},
      HEAD_IMG_URL_WIDTH = #{record.headImgUrlWidth,jdbcType=INTEGER},
      HEAD_IMG_URL_HEIGHT = #{record.headImgUrlHeight,jdbcType=INTEGER},
      PRIVILEGE = #{record.privilege,jdbcType=VARCHAR},
      UNIONID = #{record.unionid,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      groupid = #{record.groupid,jdbcType=INTEGER},
      account_originid = #{record.accountOriginid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.boss.oms.dao.model.TWxUser">
    update t_wx_user
    <set>
      <if test="subscribe != null">
        subscribe = #{subscribe,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        OPEN_ID = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null">
        HEAD_IMG_URL = #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrlWidth != null">
        HEAD_IMG_URL_WIDTH = #{headImgUrlWidth,jdbcType=INTEGER},
      </if>
      <if test="headImgUrlHeight != null">
        HEAD_IMG_URL_HEIGHT = #{headImgUrlHeight,jdbcType=INTEGER},
      </if>
      <if test="privilege != null">
        PRIVILEGE = #{privilege,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        UNIONID = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="groupid != null">
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="accountOriginid != null">
        account_originid = #{accountOriginid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boss.oms.dao.model.TWxUser">
    update t_wx_user
    set subscribe = #{subscribe,jdbcType=INTEGER},
      OPEN_ID = #{openId,jdbcType=VARCHAR},
      NICK_NAME = #{nickName,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=INTEGER},
      PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      HEAD_IMG_URL = #{headImgUrl,jdbcType=VARCHAR},
      HEAD_IMG_URL_WIDTH = #{headImgUrlWidth,jdbcType=INTEGER},
      HEAD_IMG_URL_HEIGHT = #{headImgUrlHeight,jdbcType=INTEGER},
      PRIVILEGE = #{privilege,jdbcType=VARCHAR},
      UNIONID = #{unionid,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      groupid = #{groupid,jdbcType=INTEGER},
      account_originid = #{accountOriginid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>